/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
    background: none;
    border-color: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style-type: none;
}

:root {
    /* Font Face */
    --ff: "Figtree", sans-serif;

    /*  Font sizes */
    --fs-24: 24px;
    --fs-16: 16px;
    --fs-14: 14px;

    /* Font weights */
    --fw-medium: 500;
    --fw-extra-bold: 900;

    /*  Colors */
    --color-primary: hsl(47deg 88% 63%);
    --color-gray-500: hsl(0deg 0% 42%);
    --color-gray-950: hsl(0deg 0% 7%);
    --color-white: hsl(0deg 0% 100%);

    /* Spacing (Padding, gap, margins) */
    --space-4: 4px;
    --space-8: 8px;
    --space-12: 12px;
    --space-24: 24px;
}

/* figtree-500 - latin */
@font-face {
    font-display: fallback;
    font-family: "Figtree";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/figtree-v9-latin-500.woff2") format("woff2");
}
/* figtree-800 - latin */
@font-face {
    font-display: fallback;
    font-family: "Figtree";
    font-style: normal;
    font-weight: 800;
    src: url("./assets/fonts/figtree-v9-latin-800.woff2") format("woff2");
}

html {
    height: 100%;
}

body {
    /*  Reset properties */
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

    /*  Color properties */
    background-color: var(--color-primary);

    /* Spacing properties */
    padding: var(--space-24);
    letter-spacing: 0;

    /* Font properties */
    font-family: var(--ff);
    font-weight: var(--fw-medium);
    font-size: var(--fs-14);

    /* Centering trick */
    display: grid;
    place-content: center;
    height: 100%;
}

main {
    /*  Layout properties */
    display: flex;
    flex-direction: column;
    gap: var(--space-24);
    max-width: 384px;

    padding: var(--space-24);
    border: 1px solid var(--color-gray-950);
    border-radius: 20px;
    box-shadow: 8px 8px;
    background-color: var(--color-white);
}

.card__illustration {
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.article__wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-12);
    color: var(--color-gray-950);
}

.article__label {
    width: fit-content;
    padding: var(--space-4) var(--space-12);
    border-radius: var(--space-4);
    font-weight: var(--fw-extra-bold);
    background-color: var(--color-primary);
}

.article__title {
    font-size: var(--fs-24);
    font-weight: var(--fw-extra-bold);
}

.article__title--link:hover,
.article__title--link:active {
    color: var(--color-primary);
}

.article__content {
    color: var(--color-gray-500);
    font-size: var(--fs-16);
}

.avatar__wrapper {
    display: flex;
    align-items: center;
    gap: var(--space-12);
}

.avatar__photo {
    width: 32px;
    height: 32px;
}

.avatar__name {
    color: var(--color-gray-950);
}
