/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style-type: none;
}

:root {
    /* Font Face */
    --ff: "Figtree", sans-serif;

    /*  Font sizes */
    --fs-12: calc(12rem / 16);
    --fs-14: calc(14rem / 16);
    --fs-16: calc(16rem / 16);
    --fs-20: calc(20rem / 16);
    --fs-24: calc(24rem / 16);

    /* Font weights */
    --fw-medium: 500;
    --fw-extra-bold: 900;

    /*  Colors */
    --color-primary: hsl(47deg 88% 63%);
    --color-gray-500: hsl(0deg 0% 42%);
    --color-gray-950: hsl(0deg 0% 7%);
    --color-white: hsl(0deg 0% 100%);

    /* Spacing (Padding, gap, margins) */
    --space-4: 4px;
    --space-8: 8px;
    --space-12: 12px;
    --space-24: 24px;
}

/* figtree-500 - latin */
@font-face {
    font-display: fallback;
    font-family: "Figtree";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/figtree-v9-latin-500.woff2") format("woff2");
}
/* figtree-800 - latin */
@font-face {
    font-display: fallback;
    font-family: "Figtree";
    font-style: normal;
    font-weight: 800;
    src: url("./assets/fonts/figtree-v9-latin-800.woff2") format("woff2");
}

html {
    height: 100%;
}

body {
    /*  Reset properties */
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

    /*  Color properties */
    background-color: var(--color-primary);

    /* Spacing properties */
    padding: var(--space-24);

    /* Font properties */
    font-family: var(--ff);
    font-weight: var(--fw-medium);
    font-size: var(--fs-12);

    /* Centering trick */
    display: grid;
    place-content: center;
    height: 100%;

    @media (min-width: 720px) {
        font-size: var(--fs-14);
    }
}

.card {
    /*  Layout properties */
    display: flex;
    flex-direction: column;
    gap: var(--space-24);
    max-width: 384px;

    padding: var(--space-24);
    border: 1px solid var(--color-gray-950);
    border-radius: 20px;
    box-shadow: 8px 8px;
    background-color: var(--color-white);
}

.card__illustration {
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.card__body {
    display: flex;
    flex-direction: column;
    gap: var(--space-12);
    color: var(--color-gray-950);
}

.card__badge {
    width: fit-content;
    padding: var(--space-4) var(--space-12);
    border-radius: var(--space-4);
    font-weight: var(--fw-extra-bold);
    background-color: var(--color-primary);
}

.card__title {
    font-size: var(--fs-20);
    font-weight: var(--fw-extra-bold);

    @media (min-width: 720px) {
        font-size: var(--fs-24);
    }
}

.card__link:hover,
.card__link:active {
    color: var(--color-primary);
}

.card__description {
    color: var(--color-gray-500);
    font-size: var(--fs-14);

    @media (min-width: 720px) {
        font-size: var(--fs-16);
    }
}

.card__footer {
    display: flex;
    align-items: center;
    gap: var(--space-12);
}

.card__avatar {
    width: 32px;
    height: 32px;
}

.card__author-name {
    color: var(--color-gray-950);
    font-size: var(--fs-14);
}
